<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
  
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&family=Space+Grotesk:wght@400;600;700&display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@600;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
  <link rel="stylesheet" href="/stylesheets/index.css">


  <title>ViniPort Serviços</title>
</head>
<style>
  .none{
    display: none;
}
.flex{
  display: flex;
}
</style>
<body>

  


 <%- include('inc/nav.ejs') -%>


  <header id="main-header">

    <div class="content-header">
      <h1>Terceirização Especializada Para a Sua Empresa </h1>
      <p> A melhor opção no processo de Terceirização de mão de obra especializada, aliando-se  a vasta experiência de seus componentes e colaboladores no referido mercado,
        com uma vivência direta junto a Empresários e Administradores, visando melhorias na qualidade de serviços. </p>
    </div>

    <button> 
      <a href="#services">NOSSOS SERVIÇOS</a> 
      <a style="margin-left: 10px;" href="#services">➜</a></button>

  </header>




  <section id="introduction">
    <div class="introduction-content">

      <div> 
        <h1>Soluções personalizadas em segurança e facilities.</h1>

      <p>   ViniPort Serviços é a melhor opção no processo de Terceirização de mão de obra especializada, aliando-se  a vasta experiência de seus componentes e colaboladores no referido mercado, com uma vivência direta junto a Empresários e Administradores, visando melhorias na qualidade de serviços. Por meio dos processos envolvidos em nosso Sistema de Gestão de Qualidade,
         que a Viniport hoje se destaca entre as lideres do mercado. </p>

        <p> Através de produtos e serviços de mais alta qualidade estamos sempre visando a satisfação plena de nossos clientes,quando o assunto é terceirização de serviços</p>

      </div>

      <button> 
        <a href="#"> SAIBA MAIS </a>
        <a style="margin-left: 10px;" href="#">➜</a>
      
      </button>

      
    </div>

    <img src="/images/foto-introductionP.jpeg" alt="foto">
    
  </section>


  <%-include('inc/services')-%>
 
  <%-include('inc/certification')-%>

  <section id="proposal">

    <div class="proposal-content">

      <h1> Terceirização para qualquer segmento.</h1>

      <p> Limpeza, Controle de acesso, Segurança e mais.</p>

    </div>

    <button> <a href="#"> SOLICITE UMA PROPOSTA </a></button>

  </section>

  <section id="references">

    <div class="h1-certification">
      <h1>Parceiros ViniPort Serviços</h1>
      <span style="font-size: 75px;;" class="material-symbols-outlined">
        horizontal_rule
        </span>
    </div>

    <div id="carrousel">

      <img style="height: 110px;" src="images/logo-speed.png" alt="">
      <img src="images/logo-habibs.png" alt="">
      <img src="images/logo-mcdonald.png" alt="">
      <img src="images/logo-zincagem.png" alt="">
      <img src="images/logo-pao.png" alt="">

    </div>

  </section>


  <%-include('inc/footer')-%>




  
</body>

<script src="/javascripts/indexController.js"></script>
<script src="/javascripts/indexView.js"></script>
</html>