<section id="certification"> 

    <div class="h1-certification">
      <h1>Sempre o melhor em serviços </h1>
      <span style="font-size: 95px;;" class="material-symbols-outlined">
        horizontal_rule
        </span>
    </div>

    <div class="certification-content">

        <div class="certifications">

          <h2>Uniformes Personalizados</h2>
          <p>Oferecemos a possibilidade de escolha de uniformes para que os profissionais se adequem ao perfil da sua empresa.</p>

      </div>

      <div class="certifications">

        <h2>Cronograma de Serviços </h2>
        <p>Temos como meta a implantação de sistemas terceirizados com auditorias de qualidade, visando exclusivamente a satisfação de nossos clientes.
       </p>
    
    </div>

      <div class="certifications">

        <h2>Supervisao e Fiscalização </h2>
        <p>
         Atuamos nos padrões exigidos, contando com pessoal técnico altamente qualificado que prestará com eficiência e rapidez,
           completa assistência à sua empresa. </p>

    </div>

    <div class="certifications">

      <h2>Banco de Profissionais</h2>
      <p>Nós temos profissionais na reserva para atender contratos fechados de última hora e também para substituição de profissionais.</p>

  </div>

    </div>
    
  </section>