
<footer>

    
    <aside class="desktop content-aside">
      <p class="bold"> Sobre sua compra na nossa loja online</p>
        <a href="#">Política de Frete</a>
        <a href="#">Política de Pagamentos</a>
        <a href="#">Política de Devolução e Troca</a>
        <a href="#">Política de Privacidade</a>
    </aside>

    <div class="content-footer">
       <img src="/images/logo-vp2.jpg" alt="logo">
      
       <div class="footer-icons">

        <img class="icon" src="/images/icons8-instagram-50.png" alt="instagram">
        <img class="icon" src="/images/icons8-whatsapp-50.png" alt="whatsapp">
        <img class="icon" src="/images/icons8-linkedin-50.png" alt="instagram">
        

       </div>

      <p>ViniPort Serviços Terceirização Ltda - Rua Topázio, 195 - CEP 101900-600 - Diadema - SP - Centro </p>
      <p> TODOS OS DIREITOS RESERVADOS</p>
      
    </div>

    <section class="mobile content-aside">
      <p class="bold"> Sobre sua compra na nossa loja online:</p>
        <a href="#">Política de Frete</a>
        <a href="#">Política de Pagamentos</a>
        <a href="#">Política de Devolução e Troca</a>
        <a href="#">Política de Privacidade</a>
    </section>

    <aside class="desktop content-aside right"> 
      <p class="bold"> Podemos te Ajudar?</p>
      <a href="#contact">Contato</a> 
    </aside>


  </footer>

