<div id="nav">
    <nav>
      <div class="logo-nav">

        <img style="border-radius: 20px;" src="/images/V3.png" alt="logo">
        
        <span id="menu-hamburguer" class="material-symbols-outlined">
          menu
          </span>
      </div>
      <div class="none" id="content-nav">
        <ul>
          <li class="active-home"> <a class="home-active" href="/">Home</a></li>
          <li class="services-active"> <a href="#services">Serviços</a></li>
          <li  class="institucional-active"> <a href="institucional"> Institucional</a></li>
          <li class="proposal-active"> <a href="proposal"> Solicite uma Proposta</a>
          </li>
          <li class="contact-active"> <a href="contact"> Contato</a></li>
        </ul>
      </div>
      <div class="icons-nav">
        <img class="icon" src="/images/icons8-email-60.png" alt="email">
        <img class="icon" src="/images/icons8-whatsapp-60.png" alt="whatsapp">
        <img class="icon" src="/images/icons8-linkedin-60.png" alt="instagram">
      </div>
    </nav>
  </div>
