<section  id="services" >

    <div  onclick="window.location.href = 'security'" class="service service-Security">
      <h2>VP SECURITY</h2>
      <p> Porteiros, Controladores de Acesso, Eventuais para Festas, Shows e Confêrencias. </p>

      <p class="hide p-content">Contamos com uma equipe de controle de acesso altamente qualificada que se adapta em todo o tipo de empreendimento</p>
    </div>

    <div onclick="window.location.href = 'work'" class="service service-Work">
      <h2>VP WORK</h2> 
      <p>Reçepção, Copa, Telefonia, Informática, Ajudante Geral</p>

      <p class="hide p-content"> Nossos profissionais são qualificados e treinados em bom atendimento, linguagem, postura e conduta para lidar com atendimento ao público</p>
    </div>

    <div onclick="window.location.href = 'cleanUp'" class="service service-Clean">
      <h2> VP CLEAN UP</h2>
      <p> Limpeza, Conservação, Jardinagem 
      </p>

      <p class="hide p-content">Contamos com profissionais especializados que realizam a limpeza dos ambientes de forma rápida e eficaz</p>

    </div>

    <div onclick="window.location.href = 'system'" class="service service-System">
      <h2>VP SYSTEM</h2>
      <P>Sistema Eletrônico e Monitoramento de Segurança/Cargas</P>

      <p class="hide p-content">Tenha um empreendimento protegido e seguro com a instalação de equipamentos eletrônicos, procurando tornar escassa a possibilidade de sinistros em sua Empresa.</p>
    </div>

  </section>

